<section class="base-section" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</section>
<div class="custom-mat-card" fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="!loading">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let property of properties">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{property.name}}</mat-card-title>
                <mat-card-subtitle>{{property.address}}</mat-card-subtitle>
            </mat-card-header>
            <div class="image-container" fxLayoutAlign="center" *ngIf="property.imageUrl">
                <img [src]="property.imageUrl" alt="{{ property.name }}">
            </div>
            <mat-card-actions align="right">
                <button mat-mini-fab color="" aria-label="Edit a House" (click)="editPoperty(property)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" aria-label="Delete a House" (click)="deleteProperty(property)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card fxLayoutAlign="center">
            <button mat-fab color="primary" aria-label="Add Another Property" (click)="addProperty()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card>
    </div>
</div>
