@import "../../../../vars";

.mat-card{
    box-shadow: none;
}

.remove-button {
    position: absolute;
    right: .5em;
    top: .5em;
}

.image-container {
    min-height: 5em;
    display: flex;
    max-height: 400px;
}

.table-container {
    overflow: scroll;
}