<form (ngSubmit)="onSubmit()" [formGroup]="propertyGroupForm" *ngIf="data.id">
  <mat-card>
      <mat-card-title fxLayoutAlign="center">Add Property Group</mat-card-title>
      <mat-card-content fxLayoutGap="20px" fxLayout="row" fxLayout.lt-sm="column">
          <section fxFlex="100%" fxFlex.gt-sm="33%" class="image-container">
              <app-image-upload
                      (urlEmitter)="imageUrl = $event"
                      (progressEmitter)="uploadProgress = $event"
                      [path]="propertyGroupPath"
                      [alreadyPresentUrl]="data?.imageUrl"
              ></app-image-upload>
          </section>
          <section fxFlex="100%" fxFlex.gt-sm="66%"  fxLayoutAlign="center" fxLayout="column">
            <h4>Property Details: </h4>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" required>
            </mat-form-field>
            <div class="table-container" >
              <app-shared-table 
                [dataSource]="tableProperties"
                [columnsToDisplay]="['name', 'address', 'removeable', 'actions']"
                (removeEmitter)="removePropertyFromPropertyGroup($event)"
                (editEmitter)="editProperty($event)"
                (deleteEmitter)="delete($event, propertisPath)"
              ></app-shared-table>
            </div>
            <mat-form-field appearance="standard">
              <mat-label>Properties</mat-label>
                <input
                  placeholder="Select a Property"
                  aria-label="Select a property"
                  matInput
                  [formControl]="propertyCtrl"
                  [matAutocomplete]="property"
                  #propertyTrigger="matAutocompleteTrigger"
                  (click)="propertyTrigger.openPanel()"
                 >
                 <button 
                  *ngIf="propertyTrigger.panelOpen"
                  title="close property autofill window"
                  type="button" matSuffix mat-icon-button
                  color="primary" aria-label="close property autocomplete"
                  (click)="propertyTrigger.closePanel(); $event.stopPropagation()"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
                <button 
                  title="Add a new Property"
                  *ngIf="!propertyTrigger.panelOpen"
                  type="button" matSuffix mat-icon-button
                  color="primary" aria-label="add property"
                 (click)="addProperty(); $event.stopPropagation()">
                 <mat-icon>add</mat-icon>
                </button>
              <mat-autocomplete #property="matAutocomplete" (optionSelected)="addPropertyToPropertyGroup($event.option.value)">
                <mat-option *ngFor="let property of filteredProperties | async" [value]="property">
                  {{property?.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="table-container" >
              <app-shared-table 
                [dataSource]="tableCosts" 
                [columnsToDisplay]="['name', 'amount', 'frequency', 'removeable', 'actions']"
                (removeEmitter)="removeCostFromPropertyGroup($event)"
                (editEmitter)="editCost($event)"
                (deleteEmitter)="delete($event, costsPath)"
              >
              </app-shared-table>
            </div>
            <mat-form-field appearance="standard">
              <mat-label>Add Cost</mat-label>
              <input type="text"
                     placeholder="Add a Cost"
                     aria-label="add a cost input"
                     matInput
                     [formControl]="costCtrl"
                     [matAutocomplete]="cost"
                     #costTrigger="matAutocompleteTrigger"
                     (click)="costTrigger.openPanel()"
              >
              <button 
                title="Close cost autofill window"
                *ngIf="costTrigger.panelOpen"
                type="button" matSuffix mat-icon-button
                color="primary" aria-label="close property autocomplete"
                (click)="costTrigger.closePanel(); $event.stopPropagation()">
                <mat-icon>cancel</mat-icon>
             </button>
              <button 
                title="Add a new cost"
                *ngIf="!costTrigger.panelOpen"
                type="button" matSuffix mat-icon-button
                color="primary" aria-label="add cost"
                (click)="addCost(); $event.stopPropagation()">
                <mat-icon>add</mat-icon>
             </button>
              <mat-autocomplete #cost="matAutocomplete" (optionSelected)="addCostToPropertyGroup(
                  $event.option.value
                )">
                <mat-option *ngFor="let cost of filteredCosts | async" [value]="cost">
                  {{cost?.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Notes</mat-label>
              <textarea matInput
              formControlName="notes"
              placeholder="Notes"
              cdkTextareaAutosize
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
          </section>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
          <button type="button" mat-raised-button (click)="dialogRef.close()" color="">close</button>
          <button type="submit" mat-raised-button [disabled]="propertyGroupForm.invalid || (uploadProgress > 0) || !data.id" (click)="dialogRef.close()" color="primary">
              {{data?.id ? 'Update' : 'Add' }}
          </button>
      </mat-card-actions>
  </mat-card>
</form>