<section class="base-section" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</section>
<div class="custom-mat-card" fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="!loading">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let tag of tags">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{tag.name}}</mat-card-title>
                <mat-card-subtitle>{{tag.type}}</mat-card-subtitle>
            </mat-card-header>
            <div class="image-container" fxLayoutAlign="center" *ngIf="tag.imageUrl">
                <img [src]="tag.imageUrl" alt="{{ tag.name }}">
            </div>
            <mat-card-actions align="right">
                <button mat-mini-fab color="" aria-label="Edit Tag" (click)="editTag(tag)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" aria-label="Delete Tag" (click)="deleteTag(tag)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card fxLayoutAlign="center">
            <button mat-fab color="primary" aria-label="Add Another Tag" (click)="addTag()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card>
    </div>
</div>
