<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">TobyProperty</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <!-- <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/propertyGroups">Property Groups</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/properties">Properties</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/tennants">Tennants</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/propertyManagers">Property Managers</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/costs">Costs</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/analytics">Analytics</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul> -->
  </div>
</mat-toolbar>
