<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Manage</h1>
    <p>Manage different properties, property groups, tennants, property managers and rental incomes all in one place.</p>
  </section>
  <section>
    <h1>Analyse</h1>
    <p>Get your best performing properties at the click of a button. View and review long term estimates and establish reports.</p>
  </section>
  <section>
    <h1>Oversee</h1>
    <p>
      One platform to manage them all. Combine all marketing and communication channels in one platform.
      Follow communication to its target and establish impacts on performance for properties and property groups.
    </p>
  </section>
</div>
