<form (ngSubmit)="onSubmit()" [formGroup]="propertyForm">
  <mat-card>
      <mat-card-title fxLayoutAlign="center">Add Property</mat-card-title>
      <mat-card-content fxLayoutGap="20px" fxLayout="row" fxLayout.lt-sm="column">
          <section fxFlex="100%" fxFlex.gt-sm="33%" class="image-container">
              <app-image-upload
                      (urlEmitter)="imageUrl = $event"
                      (progressEmitter)="uploadProgress = $event"
                      [path]="propertyPath"
                      [alreadyPresentUrl]="data?.imageUrl"
              ></app-image-upload>
          </section>
          <section fxFlex="100%" fxFlex.gt-sm="66%"  fxLayoutAlign="center" fxLayout="column">
            <h4>Property Details: </h4>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" placeholder="Price" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Tennants</mat-label>
              <mat-chip-list #tennantsList aria-label="Tenant selection">
                <mat-chip
                  *ngFor="let tennant of tennants"
                  (removed)="removeTennant(tennant)"
                  >
                  {{tennant.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Add a Tennant"
                  #tennantInput
                  [formControl]="tennantCtrl"
                  [matAutocomplete]="tennant"
                  [matChipInputFor]="tennantsList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  >
              </mat-chip-list>
              <mat-autocomplete #tennant="matAutocomplete" (optionSelected)="selectTennant($event)">
                <mat-option *ngFor="let tennant of filteredTennants | async" [value]="tennant">
                  {{tennant.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Property Managers</mat-label>
              <mat-chip-list #propertyManagersList aria-label="Property Manager selection">
                <mat-chip
                  *ngFor="let propertyManager of propertyManagers"
                  (removed)="removePropertyManager(propertyManager)"
                  >
                  {{propertyManager.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Add a Property Manager"
                  #propertyManagerInput
                  [formControl]="propertyManagerCtrl"
                  [matAutocomplete]="propertyManagerAuto"
                  [matChipInputFor]="propertyManagersList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  >
              </mat-chip-list>
              <mat-autocomplete #propertyManagerAuto="matAutocomplete" (optionSelected)="selectPropertyManager($event)">
                <mat-option *ngFor="let propertyManager of filteredPropertyManagers | async" [value]="propertyManager">
                  {{propertyManager.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Notes</mat-label>
              <textarea matInput
              formControlName="notes"
              placeholder="Notes"
              cdkTextareaAutosize
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="rentedOut">Rented Out?</mat-checkbox>
          </section>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
          <button type="button" mat-raised-button [mat-dialog-close]="true" color="">close</button>
          <button type="submit" mat-raised-button [disabled]="propertyForm.invalid || (uploadProgress > 0)" [mat-dialog-close]="true" color="primary">
              {{data?.id ? 'Update' : 'Add' }}
          </button>
      </mat-card-actions>
  </mat-card>
</form>