<form (ngSubmit)="onSubmit()" [formGroup]="propertyForm">
  <mat-card>
      <mat-card-title fxLayoutAlign="center">Add Property</mat-card-title>
      <mat-card-content fxLayoutGap="20px" fxLayout="row" fxLayout.lt-sm="column">
          <section fxFlex="100%" fxFlex.gt-sm="33%" class="image-container">
              <app-image-upload
                      (urlEmitter)="imageUrl = $event"
                      (progressEmitter)="uploadProgress = $event"
                      [path]="propertiesPath"
                      [alreadyPresentUrl]="data?.imageUrl"
              ></app-image-upload>
          </section>
          <section fxFlex="100%" fxFlex.gt-sm="66%"  fxLayoutAlign="center" fxLayout="column">
            <h4>Property Details: </h4>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" required>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" placeholder="Price" required>
            </mat-form-field>
            <div class="table-container" >
              <app-shared-table 
                [dataSource]="tableTennants"
                [columnsToDisplay]="viewGroups.tennants.columns"
                (removeEmitter)="removeFromObject(
                  this, 
                  $event, 
                  viewGroups.tennants.elements,
                  viewGroups.tennants.tableElements,
                  propertiesPath
                )"
                (editEmitter)="edit($event, AddTennantComponent)"
                (deleteEmitter)="remove($event, tennantsPath, viewGroups.tennants)"
              ></app-shared-table>
            </div>
            <mat-form-field appearance="standard">
              <mat-label>Tennants</mat-label>
                <input
                  placeholder="Select a Tennant"
                  aria-label="Select a Tennant"
                  matInput
                  [formControl]="tennantCtrl"
                  [matAutocomplete]="tennant"
                  #tennantTrigger="matAutocompleteTrigger"
                  (click)="tennantTrigger.openPanel()"
                 >
                 <button 
                  *ngIf="tennantTrigger.panelOpen"
                  title="close tennant autofill window"
                  type="button" matSuffix mat-icon-button
                  color="primary" aria-label="close tennant autocomplete"
                  (click)="tennantTrigger.closePanel(); $event.stopPropagation()"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
                <button 
                  title="Add a new Tennant"
                  *ngIf="!tennantTrigger.panelOpen"
                  type="button" matSuffix mat-icon-button
                  color="primary" aria-label="add Tennant"
                 (click)="add(
                  AddTennantComponent, 
                  viewGroups.tennants
                 ); $event.stopPropagation()">
                 <mat-icon>add</mat-icon>
                </button>
              <mat-autocomplete #tennant="matAutocomplete" (optionSelected)="addToObject(
                  this, 
                  $event.option.value,
                  viewGroups.tennants.elements, 
                  viewGroups.tennants.tableElements,
                  viewGroups.tennants.allElements,
                  viewGroups.tennants.ctrl,
                  propertiesPath 
                )">
                <mat-option *ngFor="let tennant of filteredTennants | async" [value]="tennant">
                  {{tennant.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="table-container" >
              <app-shared-table 
                [dataSource]="tablePropertyManagers" 
                [columnsToDisplay]="viewGroups.propertyManagers.columns"
                (removeEmitter)="removeFromObject(
                  this,
                  $event, 
                  viewGroups.propertyManagers.elements,
                  viewGroups.propertyManagers.tableElements,
                  propertiesPath
                )"
                (editEmitter)="edit($event, AddPropertyManagerComponent)"
                (deleteEmitter)="remove($event, propertyManagersPath, viewGroups.propertyManagers)"
              >
              </app-shared-table>
            </div>
            <mat-form-field appearance="standard">
              <mat-label>Add Property Manager</mat-label>
              <input type="text"
                     placeholder="Add a Property Manager"
                     aria-label="add a Property Manager input"
                     matInput
                     [formControl]="propertyManagerCtrl"
                     [matAutocomplete]="propertyManager"
                     #propertyManagerTrigger="matAutocompleteTrigger"
                     (click)="propertyManagerTrigger.openPanel()"
              >
              <button 
                title="Close Property Manager autofill window"
                *ngIf="propertyManagerTrigger.panelOpen"
                type="button" matSuffix mat-icon-button
                color="primary" aria-label="close property manager autocomplete"
                (click)="propertyManagerTrigger.closePanel(); $event.stopPropagation()">
                <mat-icon>cancel</mat-icon>
             </button>
              <button 
                title="Add a new Property Mangaer"
                *ngIf="!propertyManagerTrigger.panelOpen"
                type="button" matSuffix mat-icon-button
                color="primary" aria-label="add property manager"
                (click)="add(AddPropertyManagerComponent, viewGroups.propertyManagers); $event.stopPropagation()">
                <mat-icon>add</mat-icon>
             </button>
              <mat-autocomplete #propertyManager="matAutocomplete" (optionSelected)="addToObject(
                this, 
                $event.option.value,
                viewGroups.propertyManagers.elements, 
                viewGroups.propertyManagers.tableElements,
                viewGroups.propertyManagers.allElements,
                viewGroups.propertyManagers.ctrl,
                propertiesPath 
              )">
                <mat-option *ngFor="let propertyManager of filteredPropertyManagers | async" [value]="propertyManager">
                  {{propertyManager.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Notes</mat-label>
              <textarea matInput
              formControlName="notes"
              placeholder="Notes"
              cdkTextareaAutosize
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-checkbox formControlName="rentedOut">Rented Out?</mat-checkbox>
          </section>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
          <button type="button" mat-raised-button [mat-dialog-close]="true" color="">close</button>
          <button type="submit" mat-raised-button [disabled]="propertyForm.invalid || (uploadProgress > 0)" [mat-dialog-close]="true" color="primary">
              {{data?.id ? 'Update' : 'Add' }}
          </button>
      </mat-card-actions>
  </mat-card>
</form>