<div
        class="img-container"
        ngfDrop
        selectable="1"
        [accept]="accept"
        [file]="file"
        (fileChange)="onFileChange($event)"
        (lastInvalidsChange)="$event?.length && onInvalidFile()"
        [class.has-file]="file"
        [class.drag-invalid]="isDragValid===false"
        [class.drag-valid]="isDragValid"
        [(validDrag)]="isDragValid"
>
    <img *ngIf="file" [ngfSrc]="file" class="img-preview" [class.in-progress]="progressValue < 100">
    <mat-icon class="placeholder-icon">add_a_photo</mat-icon>
    <mat-progress-spinner
            color="primary"
            mode="determinate"
            [value]="progressValue"
            *ngIf="0 <= progressValue && progressValue < 100">
	</mat-progress-spinner>
</div>
